# Dependencies
node_modules/

# Builds
dist/
build/
.expo/
.expo-shared/
web-build/
*.tsbuildinfo

# Environment / secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Native
ios/
android/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Expo
expo-env.d.ts
